<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>Tudengivaade</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>tudengivaade</servlet-name>
    <servlet-class>
            org.springframework.web.servlet.DispatcherServlet
        </servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>tudengivaade</servlet-name>
    <url-pattern>/kuulutus.jsp</url-pattern>
    <url-pattern>/minukandideerimised.jsp</url-pattern>
    <url-pattern>/tulemused.jsp</url-pattern>
    <url-pattern>/loputood_valimata.jsp</url-pattern>
    <url-pattern>*.html</url-pattern>
  </servlet-mapping>
</web-app>